*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
  }
  
  #navbar
  {
    position : fixed;
    height : 100%;
  }
  
  #navbar header
  {
    padding : 20px;
    
  }
  
  #navbar li
  {
    border : 1px solid;
    padding : 10px;
    cursor : pointer;
    list-style: none;
    
  }
  
  #navbar ul
  {
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #main-doc
  {
    margin : 0px 0px 20px 253px;
  }
  
  .main-section
  {
    margin : 30px;
    
  }
  
  .main-section p
  {
    margin : 20px 10px;
    
  }
  
  .main-section ul
  {
    margin : 10px 60px;
    
  
  }
  
  .main-section li
  {
    padding-bottom : 10px;
  }
  
  code
  {
    margin : 0 40px;
    padding : 10px;
    display : block;
   
  }
  
  
  a
  {
    text-decoration: none;
    color : black;
  }
  
  header
  {
    font-size : 1.8rem;
  }
  
  
  @media (min-width : 650px)
  {
    #full
  {
    display : flex;
  }
  }
  
  
  @media (max-width : 650px)
  {
    #navbar
    {
      display :  none;
    }
    
    #main-doc
  {
    margin : 0;
   
  }
    
    .main-section
  {
    margin : 30px 0;
   
  }
    
    .main-section ul
  {
    margin : 10px 20px;
    
  }
    code
  {
    margin : 0 20px;
  }
    
  }

  body
  {
      line-height : 1.5;
  }